<div class="callout flex--box">
    <div class="callout__content">
        <h2>Ready to Get Started?</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel laudantium commodi voluptas quaerat,
            recusandae delectus maiores eligendi expedita esse libero. Commodi quia quae officia! Repudiandae non
            error
            adipisci consequuntur facere.
        </p>
    </div>
    <button class="btn btn--secondary">SUBMIT</button>

</div>