<footer class="page__footer">
    <div class="logo__content flex--box">
        <img src="LOGO.png" alt="">
        <p>
            Copyright 2026 Naseeb Khan.
        </p>
    </div>

    <details open class="footer__collapsible">
        <summary class="flex--box">PRODUCTS</summary>
        <a href="#">Website Hosting</a>
        <a href="#">Free Automated Wordpress</a>
        <a href="#">Migrations</a>
    </details>
    <details class="footer__collapsible">
        <summary class="flex--box">PRODUCTS</summary>
        <a href="#">Website Hosting</a>
        <a href="#">Free Automated Wordpress</a>
        <a href="#">Migrations</a>
    </details>
    <details class="footer__collapsible">
        <summary class="flex--box">PRODUCTS</summary>
        <a href="#">Website Hosting</a>
        <a href="#">Free Automated Wordpress</a>
        <a href="#">Migrations</a>
    </details>
    <details class="footer__collapsible">
        <summary class="flex--box">PRODUCTS</summary>
        <a href="#">Website Hosting</a>
        <a href="#">Free Automated Wordpress</a>
        <a href="#">Migrations</a>
    </details>
</footer>