<div class="door__open-btn">OPEN</div>

<div class="left--door door">
    <picture class="door__pic">
        <source type="image/webp" srcset="left__door.webp" class="left__door-img">
        <source type="image/png" srcset="left__door.png" class="left__door-img">
        <img src="left__door.png" alt="Left Door" class="left__door-img door__img">
    </picture>
</div>

<div class="right--door door">
    <picture class="door__pic">
        <source type="image/webp" srcset="right__door.webp" class="right__door-img">
        <source type="image/png" srcset="right__door.png" class="right__door-img">
        <img src="right__door.png" alt="Right Door" class="right__door-img door__img">
    </picture>
</div>