
    <section class="bg--dark-right hero--block">
        <div class="hero flex--box container">
            <div class="hero__content flex--box">
                <h1 class="hero__title">Cloud Hosting for Pros</h1>
                <p class="hero__description">Deploy your websites in less than 60 seconds.</p>
                <button class="btn btn--secondary">GET STARTED</button>
            </div>
            <div class="hero__banner">
                <img src="banner.png" alt="">
            </div>
        </div>
    </section>
