<header class="web">
    <nav class="nav flex--box">
        <div class="nav__logo">
            <picture>
                <source type="img/webp" src="LOGO.webp">
                <img src="LOGO.png" alt="Brand Logo">
            </picture>
        </div>
        <i class="ri-menu-line open"></i>
        <ul class="nav__list flex--box">
            <i class="ri-close-circle-line close"></i>
            <li><a href="#" class="nav__item">Hsting</a></li>
            <li><a href="#" class="nav__item">VPS</a></li>
            <li><a href="#" class="nav__item">Domain</a></li>
            <li><a href="#" class="nav__item">Pricing</a></li>
        </ul>
    </nav>
</header>