<div class="panel bg--dark-left flex--box">
    <h2 class="panel__title">User-friendly Control Panel</h2>
    <div class="panel__features flex--box">
        <img src="fast.jpg" alt="" class="panel__features-img">
        <div class="panel__media-block flex--box">
            <div class="panel__media flex--box">
                <div class="panel__media-icon">
                    <i class="ri-folder-image-fill media__icon"></i>
                </div>
                <div class="panel__media-content flex--box">
                    <h3 class="panel__sub-title">Starting at $10 per month</h3>
                    <p class="panel__sub-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Deleniti,
                        exercitationem?</p>
                </div>
            </div>
            <div class="panel__media flex--box">
                <div class="panel__media-icon">
                    <i class="ri-folder-image-fill media__icon"></i>
                </div>
                <div class="panel__media-content flex--box">
                    <h3 class="panel__sub-title">Starting at $10 per month</h3>
                    <p class="panel__sub-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Deleniti,
                        exercitationem?</p>
                </div>
            </div>
            <div class="panel__media flex--box">
                <div class="panel__media-icon">
                    <i class="ri-folder-image-fill media__icon"></i>
                </div>
                <div class="panel__media-content flex--box">
                    <h3 class="panel__sub-title">Starting at $10 per month</h3>
                    <p class="panel__sub-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Deleniti,
                        exercitationem?</p>
                </div>
            </div>
        </div>
    </div>
</div>