<div class="card-block flex--box container">
    <div class="card">
        <header class="card__header">
            <h3 class="plan__name">Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge__secondary">.com $9</span>
            <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
            <ul class="list">
                <li class="list__item--checked">Naseeb Khan</li>
                <li class="list__item--checked">Naseeb Khan</li>
                <li class="list__item--checked">Naseeb Khan</li>
                <li class="list__item--checked">Naseeb Khan</li>
            </ul>
            <button class="btn btn--accent">SUBMIT</button>
        </div>
    </div>

    <div class="card card--popular">
        <header class="card__header card__secondary">
            <img src="popular.svg" alt="" class="popular__badge">
            <h3 class="plan__name">Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge__primary">.com $9</span>
            <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
            <ul class="list">
                <li class="list__item--checked">Naseeb Khan</li>
                <li class="list__item--checked">Naseeb Khan</li>
                <li class="list__item--checked">Naseeb Khan</li>
                <li class="list__item--checked">Naseeb Khan</li>
            </ul>
            <button class="btn btn--accent">SUBMIT</button>
        </div>
    </div>

    <div class="card">
        <header class="card__header">
            <h3 class="plan__name">Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge__secondary">.com $9</span>
            <span class="plan__description">Easy start on the cloud</span>
        </header>
        <div class="card__body">
            <ul class="list">
                <li class="list__item--checked">Naseeb Khan</li>
                <li class="list__item--checked">Naseeb Khan</li>
                <li class="list__item--checked">Naseeb Khan</li>
                <li class="list__item--checked">Naseeb Khan</li>
            </ul>
            <button class="btn btn--accent">SUBMIT</button>
        </div>
    </div>
</div>