<div class="testimonials flex--box">
    <h3 class="testimonial__title">Starting at $10 per month</h3>
    <p class="testimonial__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias blanditiis
        nihil animi veritatis vero exercitationem veniam magni qui porro, neque dolorum architecto, voluptatibus
        nobis reiciendis in, sed dolor vel ea!</p>
    <div class="testimonial__card flex--box">
        <div class="testimonial__quotation flex--box">❝</div>
        <img src="Testimonial.png" alt="">
        <div class="testimonial__feed-back flex--box">
            <q>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quibusdam quasi? Enim culpa
                doloremque unde necessitatibus et libero officia ex voluptate dicta velit repudiandae quia, totam,
                consectetur quasi aspernatur fuga!
            </q>
            <div class="testimonial__person flex--box">
                <img src="line.svg" alt="">
                <div class="testimonial__person-details">
                    <h3>Naseeb Khan</h3>
                    <p>NCS Company</p>
                </div>
            </div>
        </div>
    </div>
</div>